.nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1rem;
  width: 100%;
}

.link {
  color: rgba(243, 255, 254, 0.991);
  text-decoration: none;
  margin-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;
}

.link.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.link:hover {
  color: orange;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
